h4.student-info-title {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0;
}

#change-email {
    display: none;
}

#btn-change, #btn-save-user, #btn-change-email {
    margin-top: 30px;
}

.kichHoatEmail {
    margin-top: 30px;
    margin-right: 20px;
    margin-left: -15px;
}

.email input[type=text] {
    padding-left: 50px;
}

.email {
    position: relative;
}

    .email .kichHoatEmail {
        position: absolute;
        left: 33px;
        top: 2px;
    }

.img-preview {
    border-radius: 180px;
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 21px;
    
}

.avatar {
    margin: auto;
}

.area-text-reply {
    position: relative;
}

input[type="file"] {
    cursor: pointer;
}

.file {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: 3;
    top: -6px;
}

.btn {
    height: 49px;
    top: -6px;
}

.btn-primary {
    width: 30px;
}


@media only screen and (max-width: 1200px) {
    #btn-change, #btn-change-email, #btn-change, #btn-save, #btn-change-email-thoat, #btn-change-email-xacnhan, #btn-send-email {
        font-size: 10px;
    }
}

@media (max-width: 1169px ) and ( min-width:995px) {
    .img-preview {

        margin-top: 40px;
        margin-left: 20px;
        margin-bottom: 18px;
    }
}

@media only screen and (max-width: 995px) {
    #btn-change, #btn-change-email, #btn-change, #btn-save, #btn-change-email-thoat, #btn-change-email-xacnhan, #btn-send-email {
        font-size: 8px;
    }

    .text-mul {
        font-size: 12px;
    }
}

@media (max-width: 995px) and (min-width:765px) {
    .img-preview {
        margin-top: 40px;
        margin-left: 20px;
        margin-bottom: 28px;
    }
}

@media (max-width: 765px) and (min-width:480px) {
    #btn-change, #btn-change-email, #btn-change, #btn-save, #btn-change-email-thoat, #btn-change-email-xacnhan, #btn-send-email {
        font-size: 14px;
    }

    .img-preview {
        width: 128px;
        height: 128px;
        margin-left: 120px;
    }
}

@media only screen and (max-width: 479px) {
    

    .img-preview {
        width: 128px;
        height: 128px;
        margin-left: 40px;
    }
}
