.bootstrap-tagsinput {
    min-width: 70px;
    height: 70px;
    width: 100%;
    font-size: 14px;
    font-family: inherit;
}

.tag::after {
    border-top: 0px solid transparent;
    border-bottom: 0px solid transparent;
    border-left: 0px solid #1ABB9C
}

.tag {
    font-size: 13px;
    font-family: inherit;
}
