h4.student-info-title{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0;
}
hr.line-in-title {
    margin-top: 0;
}
.hide-area{
    display: none;
}
#KhoaHoc:disabled {
    background-color: #f1f1f1;
}