.content-tintuc {
    height: 60px;
}

@media only screen and (max-width: 1116px) {
    .content-tintuc {
        height: 20px;
    }
}
.area-search {
    padding-top:10px;
}
.line {
    background: #2d3e50 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    margin: 0 auto;
    right: 0;
    text-align: center;
    width: 230px;
}
hr {
    border: 0;
    width: 40%;
}
a {
    cursor: pointer;
}