@{

}
<div class="top_nav">
    <div class="nav_menu">
        <nav>
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="javascript:void(0);" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <img src="~/public/img/layout-admin/img.jpg" alt="">
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                        <li><a href="#"> Profile</a></li>
                        <li>
                            <a href="javascript:void(0)">
                                <span>Setting</span>
                            </a>
                        </li>
                        <li id="top-lang">
                            <div class="lang" lang="vi" id="top-vi">Vietnamese</div>
                            <div class="lang" lang="en" id="top-en">English</div>
                        </li>
                        <li><a id="btn-logout-top" link="@Url.RouteUrl("adminLogout")"><i class="fa fa-sign-out pull-right"></i>Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>